:host() {
	display: flex;
	flex-direction: column;
}

div {
	flex: 0;
}

mat-list {
	flex: 1;
	overflow: auto;
}

mat-list .subtitle,
mat-list .date {
	margin-left: 1em;
}


/* fix overflow */


/* not sure why overflow ... isn't working on the list items*/

.mat-list-base .mat-list-item .mat-line,
.mat-line.subtitle {
	white-space: normal;
}