<ng-container *ngIf="selectedEntry[0]">
	<div>
		<h2>{{selectedEntry[0].title}} ({{selectedEntry.length}})</h2>
		<img [src]="selectedEntry[0].image" style="width: 10em;float:left;padding-right:1em;" />
		<h3>{{selectedEntry[0].subtitle || "_"}}</h3>
		<h4>{{selectedEntry[0].channelNumber}} {{selectedEntry[0].channelName}} 🕰{{ (selectedEntry[0].stop - selectedEntry[0].start) / 60 }}</h4>
		<h4> {{ selectedEntry[0].start | newDate | date:'medium' }}</h4>
		<h4>S{{selectedEntry[0].seasonNumber || "_" }} - E{{selectedEntry[0].episodeNumber }}</h4>
		<p>{{selectedEntry[0].description}}</p>
	</div>
	<mat-list *ngIf="selectedEntry.length > 1">
		<h3 matSubheader>Upcoming</h3>
		<mat-divider></mat-divider>
		<mat-list-item *ngFor="let e of selectedEntry.slice(1);">
			<mat-icon matListIcon>schedule</mat-icon>
			<h4 mat-line>{{selectedEntry[0].channelNumber}} {{selectedEntry[0].channelName}} 🕰{{ (selectedEntry[0].stop - selectedEntry[0].start) / 60 }}</h4>
			<div mat-line class="date">{{ e.start | newDate | date:'medium' }}</div>
			<h4 mat-line class="subtitle" *ngIf="e.subtitle">{{e.subtitle}}</h4>
		</mat-list-item>
	</mat-list>
</ng-container>