<table>
	<thead>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Hostname</th>
			<th>Username</th>
			<th>Title</th>
			<th>Client/User Agent</th>
			<th>Channel</th>
			<th>Service</th>
			<th>Profile</th>
			<th>Start</th>
			<th>State</th>
			<th>PID list</th>
			<th>Descramble</th>
			<th>Errors</th>
			<th>Input (kb/s)</th>
			<th>Output (kb/s)</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let subscription of subscriptions; trackBy:idTrack">
			<td>
				<mat-menu></mat-menu>
			</td>
			<td>{{subscription.id}}</td>
			<td>{{subscription.hostname}}</td>
			<td>{{subscription.username}}</td>
			<td>{{subscription.title}}</td>
			<td>{{subscription.client}}</td>
			<td>{{subscription.channel}}</td>
			<td>{{subscription.service}}</td>
			<td>{{subscription.profile}}</td>
			<td>{{subscription.start}}</td>
			<td>{{subscription.state}}</td>
			<td class="pid_list">{{subscription.pids | pidlist}}</td>
			<td>{{subscription.descramble}}</td>
			<td>{{subscription.errors}}</td>
			<td>{{(subscription.in / 125).toFixed(0)}}</td>
			<td>{{(subscription.out / 125).toFixed(0)}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th>ID</th>
			<th>Hostname</th>
			<th>Username</th>
			<th>Title</th>
			<th>Client/User Agent</th>
			<th>Channel</th>
			<th>Service</th>
			<th>Profile</th>
			<th>Start</th>
			<th>State</th>
			<th>PID list</th>
			<th>Descramble</th>
			<th>Errors</th>
			<th>Input (kb/s)</th>
			<th>Output (kb/s)</th>
		</tr>
	</tfoot>
</table>