<div class="content">
	<form>
		<mat-form-field>
			<mat-label>({{totalCount}})</mat-label>
			<input matInput [(ngModel)]="options.limit" [ngModelOptions]="{standalone: true}" />
		</mat-form-field>
		<button mat-button (click)="options.limit = totalCount"><mat-icon>select_all</mat-icon></button>
		<button mat-icon-button (click)="refreshGrid()"><mat-icon>refresh</mat-icon></button>

		<div><label>Length</label>
			<span><input type="radio" name="length" [(ngModel)]="filterLength" [value]="undefined" (change)="filterAll()"/>Don't care</span>
			<span><input type="radio" name="length" [(ngModel)]="filterLength" value="short"  (change)="filterAll()"/>short</span>
			<span><input type="radio" name="length" [(ngModel)]="filterLength" value="medium"  (change)="filterAll()"/>medium</span>
			<span><input type="radio" name="length" [(ngModel)]="filterLength" value="long"  (change)="filterAll()"/>long</span>
		</div>
		<div><label>Episodic</label>
			<span><input type="radio" name="episodic" [(ngModel)]="episodic" [value]="undefined" (change)="filterAll()"/>Don't care</span>
			<span><input type="radio" name="episodic" [(ngModel)]="episodic" [value]="true"  (change)="filterAll()"/>episodic</span>
			<span><input type="radio" name="episodic" [(ngModel)]="episodic" [value]="false"  (change)="filterAll()"/>Movie</span>
		</div>
		({{lastignoredcount}})
	</form>
	<app-title-list [filteredEntries]="filteredEntries" (selectedEntry)="selectEntry($event)"></app-title-list>
</div>

<app-entry-list [selectedEntry]="selectedEntry"></app-entry-list>