:host() {
	display: flex;
}

@media(width <=70em) {
	:host() {
		flex-direction: column;
	}
	.content,
	app-entry-list {
		height: 50%;
	}
}

@media(width>70em) {
	.content,
	app-entry-list {
		height: 100%;
	}
	.content {
		width: 30em;
	}
	app-entry-list {
		width: 100%;
	}
}

.content {
	display: flex;
	flex-direction: column;
}

.content app-title-list {
	flex: 1 1 auto;
	height: 0;
}