:host() {
	display: flex;
}

.content,
app-entry-list {
	/*overflow: auto;*/
}

@media(width <=70em) {
	:host() {
		flex-direction: column;
	}
	.content,
	app-entry-list {
		height: 50%;
	}
}

@media(width>70em) {
	.content,
	app-entry-list {
		height: 100%;
		width: 50%;
	}
}

.content {
	display: flex;
	flex-direction: column;
}

.content app-title-list {
	height: 100%;
	overflow: auto;
}