div.container {
	display: flex;
	height: 100%;
}

div.content {
	height: 100%;
	overflow: auto;
}

@media(width <=70em) {
	div.container {
		flex-direction: column;
	}
	div.content {
		height: 100%;
		overflow: auto;
	}
}

@media(width>70em) {
	div.content {
		width: 50%;
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

tr:nth-child(2n) td {
	background-color: #242424;
}

td {
	padding: .2em;
}


/* # */

.grid tr th:first-child,
.grid tr td:first-child {
	text-align: right;
	vertical-align: middle;
	width: 3em;
}


/* channel */

.grid tr th:nth-child(2),
.grid tr td:nth-child(2) {
	width: 8em;
}

.grid tr td:nth-child(2) div,
.grid tr td:nth-child(3) div {
	display: flex;
}

.grid tr td:nth-child(2) div span,
.grid tr td:nth-child(3) div span {
	flex: auto;
	align-self: center;
}


/* action button*/

.grid tr th:last-child,
.grid tr td:last-child {
	width: 6.3em;
}

ul {
	clear: both;
	list-style-type: none;
}

li h4:first-child {
	margin-left: -1em;
}

li h4 {
	margin: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	display: inline-block;
	border: 0;
	border-radius: 5px;
	background: #4676d7;
	color: #fff;
	padding: 0.2em;
	font-size: 1rem;
	text-decoration: none;
	cursor: pointer;
	transition: 0.1s ease-out;
	margin: 0.2em;
	align-self: center;
}

button:hover {
	background: #1d49aa;
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}