<div *ngIf="topEntry" class="info">
	<figure><img [src]="topEntry.image" /></figure>
	<div>
		<h2 (click)="open()">
			{{topEntry.title}}
		</h2>
		<h3 *ngIf="topEntry.subtitle">{{topEntry.subtitle}}</h3>
		<h4>{{topEntry.channelNumber}} {{topEntry.channelName}} 🕰{{ (topEntry.stop - topEntry.start) / 60 }}</h4>
		<h4>
			{{ topEntry.start | newDate | date:'medium' }}
			<button mat-button *ngIf="topEntry.dvrState === 'recording'" (click)="stop(topEntry)"><mat-icon class="recording">fiber_smart_record</mat-icon>Cancel</button>
			<button mat-button *ngIf="topEntry.dvrState === 'scheduled'" (click)="stop(topEntry)"><mat-icon>videocam</mat-icon>Cancel</button>
			<button *ngIf="topEntry.dvrState !== 'recording' && topEntry.dvrState !== 'scheduled'" mat-button (click)="record(topEntry.eventId)" [disabled]="pendingAPI">RECORD</button>
		</h4>
		<h4><span *ngIf="topEntry.seasonNumber">S{{topEntry.seasonNumber}}</span><span *ngIf="topEntry.episodeNumber">E{{topEntry.episodeNumber }}</span></h4>
	</div>
</div>
<p *ngIf="topEntry">{{topEntry.description}}</p>
<h3 matSubheader class="upcoming" *ngIf="selectedEntry.length > 1" [class.selected]="topEntry?.eventId !== selectedEntry[0].eventId" (click)="click($event, selectedEntry[0])">
	Upcoming ({{selectedEntry.length - 1}})
	<mat-icon *ngIf="topEntry?.eventId !== selectedEntry[0].eventId">reset_tv</mat-icon>
</h3>
<mat-divider></mat-divider>
<mat-list *ngIf="selectedEntry.length > 1" (click)="click($event, selectedEntry[0])">
	<mat-list-item *ngFor="let entry of selectedEntry.slice(1);" (click)="click($event, entry)" [class.selected]="topEntry?.eventId == entry.eventId">
		<mat-icon matListIcon>schedule</mat-icon>
		<h4 mat-line>{{entry.channelNumber}} {{entry.channelName}} 🕰{{ (entry.stop - entry.start) / 60 }}</h4>
		<div mat-line class="date">
			{{ entry.start | newDate | date:'medium' }}
			<button mat-button *ngIf="entry.dvrState === 'recording'" (click)="stop(entry)"><mat-icon class="recording">fiber_smart_record</mat-icon>Cancel</button>
			<button mat-button *ngIf="entry.dvrState === 'scheduled'" (click)="stop(entry)"><mat-icon>videocam</mat-icon>Cancel</button>
			<button *ngIf="entry.dvrState !== 'recording' && entry.dvrState !== 'scheduled'" mat-button (click)="record(entry.eventId)" [disabled]="pendingAPI">RECORD</button>
		</div>
		<h4 mat-line class="subtitle" *ngIf="entry.seasonNumber || entry.episodeNumber || entry.subtitle"><span *ngIf="entry.seasonNumber">S{{entry.seasonNumber}}</span><span *ngIf="entry.episodeNumber">E{{entry.episodeNumber }}</span> {{entry.subtitle}}</h4>
	</mat-list-item>
</mat-list>