<div id="websocketsform">
	<iframe [src]="authenticated ? logoutUrl : loginUrl"></iframe>
	<div>
		<button mat-mini-fab type="button" color="primary" (click)="websocketService.reload(config)" aria-label="Restart Websocket" title="Restart Websocket"><mat-icon>refresh</mat-icon></button>
		If login / logout is unsuccessful try <code>shift-f5</code>
	</div>
</div>

<form #loginform="ngForm" *ngIf="!authenticated || !authenticationMatch" (ngSubmit)="closing=true; authenticationService.setAuthentication(username.value, password.value); snackbarref.dismissWithAction();">
	<mat-form-field>
		<label>Username</label>
		<input #username [(ngModel)]="username.value" matInput required type="text" name="username" />
	</mat-form-field>
	<mat-form-field>
		<label>Password</label>
		<input #password [(ngModel)]="password.value" matInput required type="password" name="password" />
	</mat-form-field>
	<div class="buttons">
		<button mat-raised-button type="submit" [disabled]="!loginform.form.valid">Update</button>
		<button mat-stroked-button type="button" (click)="snackbarref.dismiss()">Cancel</button>
	</div>
</form>

<form *ngIf="authenticated && authenticationMatch" (ngSubmit)="closing=true; authenticationService.setAuthentication('',''); snackbarref.dismissWithAction();">
	<div class="buttons">
		<button mat-raised-button type="submit">Clear Authentication</button>
		<button mat-stroked-button type="button" (click)="snackbarref.dismiss()">Cancel</button>
	</div>
</form>