<form>
	<fieldset>
		<legend>Options</legend>
		<mat-form-field>
			<mat-select (selectionChange)="groupChange($event)" [(ngModel)]="groupBy"
				[ngModelOptions]="{standalone: true}">
				<mat-option [value]="undefined"></mat-option>
				<mat-option value="disp_title">Title</mat-option>
				<mat-option value="channelname">Channel</mat-option>
				<mat-option value="filesize">FileSize</mat-option>
			</mat-select>
			<mat-label>GroupBy</mat-label>
		</mat-form-field>
		<mat-form-field>
			<mat-select (selectionChange)="groupSortChange($event)" [disabled]="!groupBy" [(ngModel)]="groupSort"
				[ngModelOptions]="{standalone: true}">
				<mat-option *ngFor="let sort of groupsortList" [value]="sort">
					<ng-container *ngIf="sort.key === 'groupkey'">
						<ng-container *ngIf="groupBy !== undefined">
							{{columns[groupBy].displayString}}
						</ng-container>
						<ng-container *ngIf="groupBy == undefined">groupkey</ng-container>
					</ng-container>
					<ng-container *ngIf="sort.key !== 'groupkey'">
						{{columns[sort.key].displayString}}
					</ng-container>
				</mat-option>
			</mat-select>
			<mat-label>GroupSort</mat-label>
		</mat-form-field>

		<button mat-icon-button (click)="reverseGroupSort()" title="Sort">
			<mat-icon [class.ascending]="groupSort.ascending">sort
			</mat-icon>
		</button>
		<button mat-icon-button (click)="dvrService.refreshGridFinished()" title="Refresh">
			<mat-icon>refresh</mat-icon>
		</button>
	</fieldset>
</form>
<div class="table">
	<table>
		<thead>
			<!--revert to <caption> once browsers support sticky on caption -->
			<tr>
				<th class="caption" [attr.colspan]="displayedColumns.length+1">
					({{totalCount}}) {{filesize | filesize}}
					- {{ duration| duration}}
					<button mat-icon-button *ngIf="groupBy" (click)="collapseAll()" [disabled]="!expandable">
						<mat-icon>expand</mat-icon>
					</button>
					<button mat-icon-button *ngIf="groupBy" (click)="collapseAll(true)" [disabled]="!collapsable">
						<mat-icon>compress</mat-icon>
					</button>
				</th>
			</tr>
			<tr>
				<th rowspan="2">
					<button mat-icon-button [matMenuTriggerFor]="rowmenu" aria-label="Change displayed columns">
						<mat-icon>menu</mat-icon>
					</button>
					<mat-menu #rowmenu="matMenu">
						<div role="menuitemcheckbox" mat-menu-item *ngFor="let column of columns | keyvalue"
							(click)="$event.stopPropagation();">
							<mat-checkbox [class]="column.key" [(ngModel)]="column.value.display"
								(change)="displayedColumnsChange($event, $any(column.key))">
								{{column.value.displayString}}</mat-checkbox>
							<span>
								<button mat-icon-button [disabled]="column.value.displayOrder === 1"
									(click)="up($any(column.key), 'displayOrder')">
									<mat-icon>keyboard_double_arrow_up</mat-icon>
								</button>
								<span class="sort-order">{{column.value.displayOrder }}</span>
								<button mat-icon-button [disabled]="column.value.displayOrder === 10"
									(click)="down($any(column.key), 'displayOrder')">
									<mat-icon>keyboard_double_arrow_down</mat-icon>
								</button>
							</span>
						</div>
						<div role="menuitem">
							<button mat-button [disabled]="selectedEntry.length === 0" (click)="remove(selectedEntry)">
								<mat-icon>delete</mat-icon>Remove Selected
							</button>
							<button mat-button [disabled]="selectedEntry.length === 0" (click)="selectedEntry = []">
								<mat-icon>deselect</mat-icon>Deselect All
							</button>
							<button mat-button (click)="selectAllEntries()">
								<mat-icon>select_all</mat-icon>Select All
							</button>
						</div>
					</mat-menu>
				</th>
				<th *ngFor="let column of displayedColumns" [class]="column">
					{{columns[column].displayString}}
					<button mat-icon-button (click)="reverse(column)">
						<mat-icon [class.ascending]="columns[column].ascending ">sort
						</mat-icon>
					</button>
				</th>
			</tr>
			<tr>
				<th *ngFor="let column of displayedColumns" [class]="column">
					<button mat-icon-button [disabled]="columns[column].sortOrder === 1"
						(click)="up(column, 'sortOrder')">
						<mat-icon>keyboard_double_arrow_up</mat-icon>
					</button><span class="sort-order">{{columns[column].sortOrder }}</span>
					<button mat-icon-button [disabled]="columns[column].sortOrder === 10"
						(click)="down(column, 'sortOrder')">
						<mat-icon>keyboard_double_arrow_down</mat-icon>
					</button>
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let group of entryGroups; trackBy: groupTrack" [class.collapsed]="groupBy && group.collapsed">
			<tr>
				<th [attr.colspan]="displayedColumns.length + 1" (click)="collapse(group)">
					<div>
						<button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
							<mat-icon>menu</mat-icon>
						</button>
						<mat-menu #menu="matMenu">
							<button mat-menu-item (click)="remove(group.entries)">
								<mat-icon>delete</mat-icon>
								<span>Remove All in Group</span>
							</button>
							<button mat-menu-item (click)="selectAll(group.entries)">
								<mat-icon>select_all</mat-icon>
								<span>Select All in Group</span>
							</button>
							<button mat-menu-item (click)="selectAllAdd(group.entries)">
								<mat-icon>select_all</mat-icon>
								<span>Add All in Group To Selection</span>
							</button>
							<button mat-menu-item (click)="deselectAll(group.entries)">
								<mat-icon>deselect</mat-icon>
								<span>De-Select All in Group</span>
							</button>
						</mat-menu>
						<span *ngIf="groupBy === 'disp_title'">{{ group.grouptitle }}</span>
						<span *ngIf="groupBy === 'channelname'">Channel: {{ group.grouptitle }}</span>
						<span *ngIf="groupBy === 'filesize'">Sizebin: {{ $any(group.grouptitle) | filesize }}</span>
						<span> ({{ group.entries.length }}) - {{ group.filesize | filesize }} - {{ group.duration |
							duration
							}}</span>

						<button mat-icon-button *ngIf="groupBy">
							<mat-icon>expand_more</mat-icon>
						</button>
					</div>
				</th>
			</tr>
			<tr *ngFor="let entry of group.entries; trackBy:uuidTrack" (click)="click($event, entry)"
				[class.selected]="entry.uuid | inSelected: selectedEntry">
				<td>
					<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
						<mat-icon>menu</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>
							<mat-icon>edit</mat-icon>
							<span>Edit</span>
						</button>
						<button mat-menu-item (click)="remove([entry])">
							<mat-icon>delete</mat-icon>
							<span>Remove</span>
						</button>
						<a [href]="serverURL + entry.uuid" mat-menu-item>
							<mat-icon>download</mat-icon>
							<span>Download</span>
						</a>
						<button mat-menu-item>
							<mat-icon>info</mat-icon>
							<span>Info</span>
						</button>
					</mat-menu>
				</td>
				<td *ngFor="let col of displayedColumns" [ngSwitch]="col" [class]="col">
					<div *ngSwitchCase="'filesize'">{{entry.filesize | filesize}}</div>
					<div *ngSwitchCase="'data_errors'">
						<mat-icon *ngIf="entry.data_errors">warning</mat-icon>{{entry.data_errors}}
					</div>
					<div *ngSwitchCase="'start_real'">
						<div>{{entry.start_real | newDate | date: "shortDate"}}</div>
						<div>{{entry.start_real | newDate | date: "shortTime"}}</div>
					</div>
					<div *ngSwitchCase="'duration'">{{entry.duration | duration: "short"}}</div>
					<episode_disp *ngSwitchCase="'episode_disp'" [season_episode]="entry.episode_disp"></episode_disp>
					<div *ngSwitchDefault>{{entry[col]}}</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th *ngFor="let col of displayedColumns">{{columns[col].displayString}}</th>
			</tr>
		</tfoot>
	</table>
</div>