:host() {
	display: flex;
	flex-direction: column;
}

form {
	flex: 0;
}

div.table {
	flex: 1;
	overflow: auto;
}

.sortlist span {
	white-space: nowrap;
}

.mat-list-base .mat-subheader {
	margin-bottom: -8px;
	border-top: 2px solid var(--secondary-bg-color);
	flex-direction: column;
}

mat-list-item:nth-child(2n + 1) {
	background-color: var(--secondary-bg-color);
}

span.title {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	box-sizing: border-box;
}

span.time {
	flex: 0 0 10em;
}

mat-list-item mat-icon {
	flex: 0 0 1em;
}

table {
	position: relative;
	border-collapse: collapse;
}

th.caption {
	background-color: var(--tertiary-bg-color);
	position: sticky;
	top: 0em;
	height: 2em;
}

th {
	background: var(--secondary-bg-color);
	position: sticky;
	box-shadow: 0 2px 2px -1px var(--tertiary-bg-color);
	white-space: nowrap;
	padding: 0;
	z-index: 2;
}

thead tr:nth-child(2) th {
	/* Don't forget this, required for the stickiness */
	top: 2em;
}

thead tr:nth-child(3) th {
	/* Don't forget this, required for the stickiness */
	top: 3.2em;
}

.ascending {
	transform: scaleY(-1);
}


/*
tbody {
	display: block;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	height: auto;
}

tbody.hide {
	height: 1em;
}

tr {
	display: table-row;
}*/

tbody tr th {
	/* Don't forget this, required for the stickiness */
	top: 4.95em;
	background-color: var(--tertiary-bg-color);
	height: 2em;
}

tfoot tr th {
	/* Don't forget this, required for the stickiness */
	bottom: 0em;
}

td {
	border-left: 1px dotted var(--highlight-color);
}

td.filesize,
td.duration {
	text-align: right;
}

td.channelname,
td.errors,
td.data_errors,
td.start_real {
	text-align: center;
}