:host() {
	display: flex;
	flex-direction: column;
}

form {
	flex: 0;
}

div.table {
	flex: 1;
	overflow: auto;
}

.sortlist span {
	white-space: nowrap;
}

.mat-list-base .mat-subheader {
	margin-bottom: -8px;
	border-top: 2px solid var(--secondary-bg-color);
	flex-direction: column;
}

mat-list-item:nth-child(2n + 1) {
	background-color: var(--secondary-bg-color);
}

span.title {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	box-sizing: border-box;
}

span.time {
	flex: 0 0 10em;
}

mat-list-item mat-icon {
	flex: 0 0 1em;
}

div[role="menuitemcheckbox"] {
	display: flex;
	width: calc(100% - 16px);
	padding-right: 0;
}

div[role="menuitemcheckbox"] mat-checkbox {
	flex-grow: 1;
}

div[role="menuitemcheckbox"].mat-menu-item button .mat-icon {
	margin-right: 0;
}

div[role="menuitemcheckbox"].mat-menu-item span span.sort-order,
thead tr th span.sort-order {
	display: inline-block;
	min-width: 1.2em;
	text-align: center;
}

thead tr:nth-child(2) th {
	/* Don't forget this, required for the stickiness */
	top: 2em;
}

thead tr:nth-child(3) th {
	/* Don't forget this, required for the stickiness */
	top: 3.2em;
}

tbody tr th {
	/* Don't forget this, required for the stickiness */
	top: 4.95em;
	height: 2em;
}

th button:last-child .mat-icon/*,
td div,
td episode_disp,
td button*/ {
	transition: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 1s;
	/*max-height: 4em;*/
}

.collapsed th button:last-child .mat-icon {
	transform: rotate(180deg);
}

.collapsed th>div {
	border-bottom: 3px dashed var(--secondary-bg-color);
}

.collapsed td episode_disp,
.collapsed td button {
	display: block;
}

.collapsed td {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.collapsed td div,
.collapsed td episode_disp,
.collapsed td button {
	max-height: 0;
	overflow: hidden;
}

td.filesize,
td.duration {
	text-align: right;
}

td.channelname,
td.errors,
td.data_errors,
td.start_real {
	text-align: center;
}

td.data_errors .mat-icon {
	vertical-align: bottom;
}