:host() {
	display: flex;
	flex-direction: column;
}

.sortlist span {
	white-space: nowrap;
}

.mat-list-base .mat-subheader {
	margin-bottom: -8px;
	border-top: 2px solid #242424;
	flex-direction: column;
}

mat-list-item:nth-child(2n + 1) {
	background-color: #242424;
}

span.title {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	box-sizing: border-box;
}

span.time {
	flex: 0 0 10em;
}

mat-list-item mat-icon {
	flex: 0 0 1em;
}

table {
	position: relative;
	border-collapse: collapse;
}

th {
	background: #242424;
	position: sticky;
	/* Don't forget this, required for the stickiness */
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

tr.firstHeader th {
	top: 0;
}

tr.secondHeader th {
	top: 1em;
}