<form>
	<fieldset>
		<legend>Options</legend>
		<mat-form-field>
			<mat-select (selectionChange)="groupChange($event)" [(ngModel)]="groupBy" [ngModelOptions]="{standalone: true}">
				<mat-option [value]="undefined"></mat-option>
				<mat-option value="disp_title">Title</mat-option>
				<mat-option value="channelname">Channel</mat-option>
				<mat-option value="filesize">FileSize</mat-option>
			</mat-select>
			<mat-label>GroupBy</mat-label>
		</mat-form-field>
		<mat-form-field>
			<mat-select (selectionChange)="groupSortChange($event)" [disabled]="!groupBy" [(ngModel)]="groupSort" [ngModelOptions]="{standalone: true}">
				<mat-option *ngFor="let sort of groupsortList" [value]="sort">{{mapping[sort.key]}}</mat-option>
			</mat-select>
			<mat-label>GroupSort</mat-label>
		</mat-form-field>
		<div class="sortList">
			<label>Sort</label>
			<span *ngFor="let sort of sortList; let first = first; let last = last;">
					<mat-icon (click)="up(sort)">keyboard_double_arrow_up</mat-icon>
					<mat-icon (click)="down(sort)">keyboard_double_arrow_down</mat-icon>
					{{mapping[sort.key]}}
				</span>
		</div>
	</fieldset>
</form>
({{totalCount}}) {{filesize | filesize}} - {{ duration| duration}}
<table>
	<thead>
		<tr class="firstHeader">
			<th *ngFor="let col of displayedColumns">{{mapping[col]}}</th>
		</tr>
	</thead>
	<ng-container *ngFor="let group of entryGroups; let first = first">
		<tr class="secondHeader">
			<th [attr.colspan]="displayedColumns.length">
				<span *ngIf="groupBy === 'disp_title'">{{ group.grouptitle }}</span>
				<span *ngIf="groupBy === 'channelname'">Channel: {{ group.grouptitle }}</span>
				<span *ngIf="groupBy === 'filesize'">Sizebin: {{ $any(group.grouptitle) | filesize }}</span>
				<span> ({{ group.entries.length }}) - {{ group.filesize | filesize }} - {{ group.duration | duration }}</span>
			</th>
		</tr>
		<tr *ngFor="let entry of group.entries">
			<td *ngFor="let col of displayedColumns" [ngSwitch]="col" [class]="col">
				<ng-container *ngSwitchCase="'filesize'">{{entry.filesize | filesize}}</ng-container>
				<ng-container *ngSwitchCase="'data_errors'">
					<mat-icon *ngIf="entry.data_errors || entry.data_errors">warning</mat-icon>
				</ng-container>
				<ng-container *ngSwitchCase="'start_real'">{{entry.start_real | newDate | date: "short"}}</ng-container>
				<ng-container *ngSwitchDefault>{{entry[col]}}</ng-container>
			</td>
		</tr>
	</ng-container>
</table>