.drawer-container {
	height: 100%;
}

.drawer-content {
	height: 100%;
	display: flex;
	/*flex-direction: column;*/
	/*breaks something*/
}

::ng-deep .mat-drawer-content.drawer-content>*:last-child {
	flex: 1;
}