.drawer-container {
	height: 100%;
}

.drawer-content {
	height: 100%;
	display: flex;
}

@media(width <=70em) {
	.drawer-content {
		flex-direction: column;
	}
}

::ng-deep .mat-drawer-content.drawer-content>*:last-child {
	flex: 1;
	height: 100%;
	overflow: auto;
}