.drawer-container {
	height: 100%;
}

.drawer-content {
	display: flex;
	/*flex-direction: column;*/
	/*breaks something*/
}

.drawer-content button {
	flex: 0;
}

.drawer-content app-grid {
	flex-grow: 1;
}