mat-tab-content {
	display: block;
	max-height: 100%;
	overflow: auto;
}

mat-list-item:nth-child(2n +1) {
	background-color: #242424;
}

mat-list-item.tapped {
	box-shadow: 0 0 0 2px #7b1fa2 inset;
}


/* channel# */

mat-list-item .channel {
	flex: 0 0 8em;
	display: flex;
}

mat-list-item .channel div:first-child {
	text-align: right;
	flex: 0 0 2em;
}

mat-list-item .channel div:last-child {
	margin-left: 0.4em;
	flex: 0 0 5em;
}


/* title*/

mat-list-item .title {
	flex-grow: 1;
	justify-content: start;
}


/* # */

mat-list-item .number {
	flex: 0 0 2em;
}


/* action button */

mat-list-item button {
	flex: 0 0 2em;
}