:host() {
	display: flex;
}

mat-list,
app-upcoming-entry-list {
	flex: 1;
}

mat-list-item:nth-child(2n + 1) {
	background-color: #242424;
}

span.title {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	box-sizing: border-box;
}

span.time {
	flex: 0 0 10em;
}

mat-list-item mat-icon {
	flex: 0 0 1em;
}