<table>
	<thead>
		<tr>
			<th><button mat-icon-button [matMenuTriggerFor]="rowmenu" aria-label="Clear Statistics for all Inputs">
				<mat-icon>restart_alt</mat-icon>
			</button>
			<mat-menu #rowmenu="matMenu">
				<div role="menuitem" mat-menu-item>
					<button mat-raised-button color="warn" (click)="inputsService.clearAll()">
						Clear Statistics for all Inputs
					</button>
				</div>
			</mat-menu></th>
			<th>Input</th>
			<th>Stream</th>
			<th>Subs No.</th>
			<th>Weight</th>
			<th>PID list</th>
			<th>Bandwidth (kb/s)</th>
			<th>BER</th>
			<th>PER</th>
			<th>Uncorrected Blocks</th>
			<th>Transport Errors</th>
			<th>Continuity Errors</th>
			<th>SNR</th>
			<th>Signal Strength</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let input of inputs; trackBy:uuidTrack">
			<td>
				<button mat-icon-button [matMenuTriggerFor]="rowmenu" aria-label="Clear Statistics">
					<mat-icon>restart_alt</mat-icon>
				</button>
				<mat-menu #rowmenu="matMenu">
					<div role="menuitem" mat-menu-item>
						<button mat-raised-button color="warn" (click)="inputsService.clear(input.uuid)">
							Clear Statistics
						</button>
					</div>
				</mat-menu>
			</td>
			<td>{{input.input}}</td>
			<td>{{input.stream}}</td>
			<td>{{input.subs}}</td>
			<td>{{input.weight}}</td>
			<td>
				<div class="pid_list">{{input.pids | pidlist}}</div>
			</td>
			<td>{{(input.bps / 1024).toFixed(0)}}</td>
			<td>{{input.tc_bit === 0 ? input.ber : input.ec_bit / input.tc_bit}}</td>
			<td>{{input.tc_block === 0 ? 'unknown' : input.ec_block/input.tc_block}}</td>
			<td>{{input.unc}}</td>
			<td>{{input.te}}</td>
			<td>{{input.cc}}</td>
			<td>{{input.snr | scale : input.snr_scale : " dB"}}</td>
			<td>{{input.signal | scale: input.signal_scale : "dBm"}}</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th>Input</th>
			<th>Stream</th>
			<th>Subs No.</th>
			<th>Weight</th>
			<th>PID list</th>
			<th>Bandwidth (kb/s)</th>
			<th>BER</th>
			<th>PER</th>
			<th>Uncorrected Blocks</th>
			<th>Transport Errors</th>
			<th>Continuity Errors</th>
			<th>SNR</th>
			<th>Signal Strength</th>
		</tr>
	</tfoot>
</table>