<mat-list *ngIf="type == 'list'">
	<mat-list-item>
		<mat-icon (click)="menuClicked.emit()">menu</mat-icon>
	</mat-list-item>
	<mat-list-item *ngFor="let link of links" [routerLink]="link.path">
		<mat-icon [color]="link.path === activatedPath ? 'primary': ''">{{link.icon}}</mat-icon>{{ type==="list" ? link.friendlyName: ''}}
	</mat-list-item>
</mat-list>
<div class="side-nav" *ngIf="type == 'button'">
	<button mat-icon-button (click)="menuClicked.emit()">
		<mat-icon>menu</mat-icon>
	</button>
	<button mat-icon-button *ngFor="let link of links" [title]="link.friendlyName" [routerLink]="link.path" [color]="link.path === activatedPath ? 'primary': ''">
		<mat-icon>{{link.icon}}</mat-icon>
	</button>
</div>