:root {
	--main-fg-color: white;
	--main-bg-color: #303030;
	--secondary-bg-color: #242424;
	--tertiary-bg-color: #141414;
	--highlight-color: #7b1fa2;
	--link-visited-color: lightcoral;
	--pad-color: rgba(240, 128, 128, 0.459);
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

a:visited {
	color: var(--link-visited-color);
}

.selected {
	box-shadow: 0 0 0 2px var(--highlight-color) inset;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

tr:nth-child(2n) td {
	background-color: var(--secondary-bg-color);
}

td {
	padding: .2em;
}

.custom-dialog-container .mat-dialog-container {
	padding: 0;
	border-radius: 0px;
}

mat-list-item {
	z-index: -2;
}

mat-list-item span.inprogress_beginpad,
mat-list-item span.inprogress_endpad,
mat-list-item span.inprogress {
	display: block;
	right: 0;
	position: absolute;
	pointer-events: none;
	z-index: -1;
	height: 0.2em;
}

mat-list-item span.inprogress_beginpad,
mat-list-item span.inprogress {
	left: 0;
}

mat-list-item span.inprogress_beginpad,
mat-list-item span.inprogress_endpad {
	background-color: var(--pad-color);
	bottom: 0.1em;
}

mat-list-item span.inprogress {
	background-color: var(--highlight-color);
	bottom: 0.2em;
}