/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #303030;
	color: white;
}

a:visited {
	color: lightcoral
}

.selected {
	box-shadow: 0 0 0 2px #7b1fa2 inset;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

tr:nth-child(2n) td {
	background-color: #242424;
}

td {
	padding: .2em;
}

.custom-dialog-container .mat-dialog-container {
	padding: 0;
	border-radius: 0px;
}